<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
    <servlet>
        <servlet-name>FlightServlet</servlet-name>
        <servlet-class>com.example.airport.servlets.FlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightServlet</servlet-name>
        <url-pattern>/flights</url-pattern>
    </servlet-mapping>
</web-app>